<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-user style-1 rounded has-shadow-1">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
				    <div class="actions row">
                             *************
							<h2>カート内商品一覧</h2>

			 				<% @cart.cart_items.each do | cart_item| %>

							<p><%= attachment_image_tag cart_item.item, :image, :fill, 100, 100, format:'jpeg' %></p>
			 				<p>タイトル : <%= cart_item.item.title %></p>
							<p>アーティスト名 : <%= cart_item.item.artist_name %></p>
	                        <p>価格 : <%= cart_item.item.item_price %></p>
	                        <p><%=(cart_item.cart_quantity) %></p>

	                        <%= link_to  user_cart_item_path(cart_item.id), method: :delete do %>
	                        	カートから削除
　　　　　　　　　　　　　　　　<% end %>
						   <% end %>
						   総計：  <p> <%= @cart.totalprice %> 円 </p>


						   <% @order = Order.new  %>
							<% unless @order %>
							<% end %>

							<%= form_for @order_item, url: user_orders_path(current_user) do |f| %>
							<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="color: blue;"></i>


							<%= f.submit '購入' %>
							<% end %>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

