<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <h2><%= link_to '受注履歴一覧', admin_orders_index_path %></h2>
        <h2><%= link_to '登録商品一覧', admin_items_path %></h2>
        <h2><%= link_to '顧客情報一覧', admin_users_path %></h2></div>
        <div class="col-lg-6">
          <div class="row">
            <%= form_for @item, url: admin_items_path do |f| %>
              <div class="field">
                <label for="file_photo">
                    ジャケット写真設定
                  <%= f.attachment_field :image,id:"file_photo",style: "display:none;" %>
                </label>
              </div>

              <div class="form">
                <%= f.text_field :title, :placeholder => "タイトル", class: "field" %>
              </div>

              <div class="form">
                <%= f.text_field :artist_name, :placeholder => "アーティスト", class: "field" %>
              </div>

              <div class="form">
                <%= f.text_field :lebel, :placeholder => "レーベル", class: "field" %>
              </div>

              <div class="form">
                <%= f.text_field :genre, :placeholder => "ジャンル", class: "field" %>
              </div>

              <div class="form">
                <%= f.text_field :item_price, :placeholder => "値段", class: "field" %>
              </div>

              <div class="form">
                <%= f.text_field :stock, :placeholder => "在庫数", class: "field" %>
              </div>

              <div id="discs">
                <%= f.fields_for :discs do |disc| %>
                  <%= render 'disc_fields', f: disc %>
                <% end %>
                <div id="links">

                  <%= link_to_add_association 'ディスクを追加',f, :discs %>
                </div>
                <div class="btn">
                  <%= f.submit %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</div>
