<h1>User::Order#new</h1>
<p>Find me in app/views/user/purchaces/index.html.erb</p>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-user style-1 rounded has-shadow-1">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
				    <div class="actions row">
							<h2>購入確認ページ</h2>

			 				<% @cart.cart_items.each do | cart_item| %>

							<p><%= attachment_image_tag cart_item.item, :image, :fill, 100, 100, format:'jpeg' %></p>
			 				<p>タイトル : <%= cart_item.item.title %></p>
							<p>アーティスト名 : <%= cart_item.item.artist_name %></p>
	                        <p>価格 : <%= cart_item.item.item_price %></p>
	                        <p><%=(cart_item.cart_quantity) %></p>
　　　　　　　　　　　　　　　　<% end %>

						   総計：<%= (@cart.total_price(@cart)).to_i %>円

						    <h2>お届け先情報</h2>
							<p>ご購入者様 : <%= @user.email %></p>
							<p>お届け先ご住所</p>
							<p><%= @user.postal_code %></p>
							<p><%= @user.home_address %></p>

						   <%= link_to '購入',user_orders_path, method: :post %>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>