<div class="container">
	<div class="row">
		<h2 class="text">受注商品一覧</h2>
		<% @order_items.each do | order_item| %>
		<div class="col-lg-4">
			<p class="text"><%= attachment_image_tag order_item. item, :image, :fill, 200, 200, format:'jpeg' %></p>
			<p class="text">タイトル : <%= order_item.item.title %></p>
			<p class="text">アーティスト名 : <%= order_item.item.artist_name %></p>
			<p class="text">価格 : <%= order_item.item.item_price %></p>
			<p class="text">受注数<%= order_item.ordered_quantity  %></p>
		</div>
		 <% end %>
	</div>
</div>

