<p><%= @user.name %></p>
<p><%= @user.kana %></p>
<p><%= @user.email %></p>
<p><%= @user.phone_number %></p>
<p><%= @user.postal_code%></p>
<p><%= @user.home_address %></p>
<p><%= @user.password %></p>